.parent{
    background-color: #eee;
    width: 1000px;
    height: 500px;
    margin: 20px auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
div{
    background-color: red;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    flex-basis: 20%;
    height: 42%;
}
.one{
    order: 2;
    align-self: start;
}
.two{
    order: 3;
    align-self: end;
}
.three{
    order: 4;
    align-self: start;
}
.four{
    order: 1;
    align-self: end;
}